.cards-section{
    margin-top: 10%;
}
.main{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}
.main::-webkit-scrollbar{
    display: none;
}
.cardItem-container{
    padding-left: 15px;
    
}
.card-item{
    width: 100%;
    margin-top: 75px;
    padding-left: 10px;  
}

.cardItem-img{
    width: 192.3px;
    height: 192.3px;
    cursor:pointer ;
}
.cardItem-img:hover{
    transform: scale(1.1);
}
h6{
   padding-top: 10px;
}