.bannerBottomMain{
    width: 100%;
    max-height: max-content;
    margin-top: 75px;
    background: #112C56;
    color: white;
    align-items: center;
    padding-top: 50px;
}
.bannerBottomFlex{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.bannerBottomOne{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bannerBottomOne .icon1{
    width: 40px;
    height: 45px;
    
}
.bannerBottomOne h4{
    font-weight: 700;
    font-size: 18px;
}
.bannerBottomOne small{
    font-weight: 400;
    font-size: 13px;
}
.icon3{
    width: 350px;
    margin-top: -200px;
} 
@media screen and (max-width: 990px){
    .bannerBottomFlex{
        display: block;
        align-items: center;
        gap: 16px;
    }
    .bannerBottomOne{
        padding-top: 2rem;
    }
    .icon3{
        width: 238px;
    margin-top: -211px;
    margin-left: 308px;
    }
}
@media screen and (max-width: 600px){
    .icon3{
      display: none;
    }
    .bannerBottomFlex{
        display: block;
        align-items: center;
        gap: 16px;
    }
    .bannerBottomOne{
        padding-top: 2rem;
    }
}