.para1Main{
    font-weight: 400;
    font-size: 26.6968px;
    line-height: 36px;
    color: #DC8015;
    padding-top: 100px;
}
.para1{
    font-weight: 300;
    font-size: 22px;
    padding-left: 10px;
    color:#717985;
}
.para2Main{
    color:#112C56;
    font-size: 35px;
    margin-top: 40px;
}
.para2{
    font-weight: 400;
}

.btn1{
    width: 150.17px;
    height: 49.22px;
    left: 110px;
    top: 355px;
    color: white;
    background: #112C56;
    border-radius: 6.67421px;
    margin-top: 40px;
}
.btn2{
    width: 150.17px;
    height: 49.22px;
    left: 288.54px;
    top: 355px;
    margin-left: 10px;
    color: #112C56;
    border: 1.33484px solid #112C56;
    border-radius: 6.67421px;
}
.icons{
    width: 1755px;
    height: 172px;
    background: #112C56;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.icon1{
    width: 55.03px;
height: 47.88px;
left: 110px;
top: 552px;
}
.icon3{
    width: 573.02px;
height: 521.09px;
left: 1035.94px;
top: 139.26px;
}